<td>
	<div class="corporations">
		<div class="corporation_logo"></div>
		<div class="corporation_header">company name</div>
		<div class="ratings_corp"></div>
		<div class="insights">Reviews(12)</div>	
	</div>
</td>