<label class="inner_header top">Corporation name</label><input type=text class="new_corp">
									<label class="inner_header">Title</label>
									<input type=text class="new_corp">
									<label class="inner_header">Description</label>
									<textarea id="new_deal_general"></textarea>
									<label class="inner_header">Ratings</label>
									<div id="raitings_new">
										<ul>
											<li><label>Innovation:</label>raitings go here</li>
											<li><label>Integrity:</label>raitings go here</li>
											<li><label>Technology:</label>raitings go here</li>
											<li><label>Product quality:</label>raitings go here</li>
											<li><label>Service levels:</label>raitings go here</li>
										</ul>								
									</div>
									
									<div id="relationship">
										<label class="inner_header">Relationship</label>
										<div>Describe your relationship to this corporation</div>
										<input id="Investor" type="checkbox"  class="checkbox" name="option1" value="Investor"><label class="checkbox" for="Investor">Investor</label>
										<input id="Customer" type="checkbox" name="option2" value="Customer"><label class="checkbox" for="Customer">Customer</label>
										<input id="Partner" type="checkbox" name="option3" value="Partner"><label class="checkbox" for="Partner">Partner</label>
										<input id="Supplier" type="checkbox" name="option4" value="Supplier"><label class="checkbox" for="Supplier">Supplier</label>
										<input id="Employee" type="checkbox" name="option5" value="Employee"><label class="checkbox" for="Employee">Employee</label>
										<input id="Ex employee" type="checkbox" name="option6" value="Ex employee"><label class="checkbox" for="Ex employee">Ex employee</label>
										<input id="other" type="checkbox" name="option6" value="other"><label class="checkbox" for="other">other</label>
									</div>	
									
									<footer><input type="button" value="Add Review" class="green_back submit"></footer>
								</section>