<div id="intro"></div>	<!--fix rails bug -->
<!-- ************************** header ***************************************************** -->
						<div id="inner_header" class="light_gray_back">
					
							<h1 id="top_header">New Corporate Review</h1>
						</div>	
								
					<div id="main_home">
						<!-- ******************************** BREAD CRUMBS **********************************************-->
						<div class="bread_crumbs bc_padding"><a href="">Home</a> > <a href="">Deals</a> > New Corporate Review</div>
						
						<!-- ******************************************************************************* -->	
						<section id="newpage_wrapper">
							<div class="level2_body"><div class="level2_header add_corporate_filter">Add New Corporate Review</div></div>
								<section id="add_new" class="bottom_padding">						
									<%=render :partial=>'form'%> <!--form fields  -->
						</section>		
						<!-- ************************************** EXPLANATION ABOUT FORM FILLING ************************************* -->		
							
							<aside class="new_page"> 
							<a class="dialog_but" href="#">Which content is important in a Corporation Review?  </a>
							<div class="dialog_content">Corporation Reviews are very broad as they can relate to any and all aspects of a corporation. If you have some knowledge, experience or understanding – share it. It does not have to be unique, and of course it must not involve a breach of confidentiality or privacy, or involve defamatory statements. Some core areas of interest are: integrity (are the people and culture honest and ethical), innovation (are they inventive, creative), technology, product quality, and service levels. There is much, much more to say, and whatever is relevant is appropriate for Corporation Review.  
Refer to our guidelines below on confidentiality and privacy issues, and whistle-blowing. </div>
							<a class="dialog_but" href="#">How to write an effective Corporation Review:</a>
							<div class="dialog_content">
								<p class="double_box">
									An effective Corporation Review is <b>specific, clear</b>, and <b>factual</b></b>. 
To be <b>specific</b>, give details of what you’re describing, don’t leave it at generalities. Instead of “their product is innovative”, write “their flagship product is 40% faster than their main competitor’s due to their new proprietary algorithm.” To be <b>clear</b>, say exactly what you mean, don’t just hint. Instead of “this company is a loser,” try “they’re raising prices 5%, again, even while losing customers (down 10% against last year) and their marketing cost keeps going up.” Finally, be <b>factual</b>. If you write “they’re losing their technological edge” support it with facts, such as: “their flagship patents have only a couple of years to run, they have nothing new in the pipeline; they need to acquire some talent quickly or join the scrapheap of has-been companies.” 
Corporation Reviews that are specific, clear and factual will have the greatest impact.
								</p>
							</div>
							<a class="dialog_but" href="#">How long should a Corporation Review be?</a>
							<div class="dialog_content">Like a good skirt - short enough to be interesting, long enough to cover the essentials. Seriously, get your point across succinctly, but don’t be so brief that no one can understand your message. If you have many useful points to make, by all means make them all. On the other hand, if you make your point there’s no need to repeat it. </div>
							<a class="dialog_but" href="#">Language</a>
							<div class="dialog_content">Merjerz is English-language only. That is the global hi-tech language and we’re keeping it that way</div>
							<a class="dialog_but" href="#">Confidentiality & Privacy</a>
							<div class="dialog_content">Don’t breach it. Even if you’re writing anonymously, posting a corporation or person’s confidential or private information could be a crime and a tort. In other words, it is wrong and you could get into lots of trouble. You could do damage to people and corporations and may be sued for that. What’s more, the value of an M&A deal hardly ever depends on confidential information. In other words: revealing confidential information is not going to materially change the prospect of a deal. If you think you have some astonishing whistleblowing information, take it to the legal authorities. Otherwise, keep your contribution within the realms of relevant, non-confidential business and technology insights and opinion.</div>
							<a class="dialog_but" href="#">Comments about people</a>
							<div class="dialog_content">There’s generally no need to comment about individuals. Corporations worth commenting about are always bigger than one person. Comments about the quality of management, the culture, the norms and processes, the faith management have in the team, the HR policies and mindset are all fair game. They’re all relevant to other businesses, and don’t depend on one person. Same goes for culture, performance, service, innovation, technology, growth, prospects etc. There’s no need to single out people, even if you don’t name them. Doing so may entail defamation, for which you may be sued, and can be very harmful even to other people. If you know of someone who has broken the law, tell the authorities. </div>
							<a class="dialog_but" href="#">Anonymous or Real name?</a>
							<div class="dialog_content">Using your real name will greatly increase the credibility of your insights and comments. In general, you should be writing under your real name. However, sometimes you really can’t use your name. You may be conflicted between people you like and companies you dislike, or in some other way. If you can’t post under your true name, post anonymously, but remember that readers will then give your comments less weight. </div>
			</aside>
				<div style="clear: both;">	</div>				
	</div><!-- main home-->