   <div id="intro"></div>	<!--fix rails bug -->
   <!-- ************************** HEADER ***************************************************** -->
	<div id="inner_header" class="light_gray_back">
			<h1 id="top_header" class="footer_header">About Us</h1>
	</div>				
	<div id="main_home">
	<!-- ******************************** BREAD CRUMBS **********************************************-->
		<div class="bread_crumbs bc_padding"><a href="">Home</a> > <a href="">About Us</a></div>	
		<div style="clear: both;">	</div>					
	 <!-- **************************** WRITE BOX **************************************** -->								
		<section id="faq_div">
			<article class="faq">
					<p class="double_box">
						Merjerz makes hi-tech M&A successful by providing insight into the best acquisitions for each acquirer, by creating the best selling opportunities for startups, and by empowering the hi-tech community to promote the deals that are best for the hi-tech industry. Merjerz is a social-network web application that connects the hi-tech companies and professionals, and provides the ultimate platform from which tech professionals can be heard and have make impact.
					</p>
			</article>	
					<h1 class="faq_header">Our mission:</h1>
								<article class="faq">
									<p class="double_box">
										Merjerz, our mission is to
										make hi-tech M&amp;A successful by making the hi-tech M&amp;A market as
										transparent and efficient as possible, a 'perfect' market. Merjerz enables
										hi-tech corporations to find the best acquirers and targets for M&amp;A.
										Merjerz is the platform through which all members of the global hi-tech
										community, including engineers, executives, investors, suppliers, users, distributors,
										journalists, analysts and enthusiasts can voice their opinions on the value of
										business combinations. Through Merjerz, the opinions of everyone in the hi-tech
										world become impactful and actionable. We are also building a host of tools
										that support strategy, corporate development and M&amp;A professionals in their
										quest to execute the best M&amp;A deals.
									</p>
								</article>
								<h1 class="faq_header">
									Who we are:
								</h1>
								<article class="faq">
									<p class="double_box">
										Merjerz was started in late
										2011. The founder is Arye Schreiber, an Anglo-Israeli lawyer and corporate
										development professional, and an experienced M&amp;A lawyer. He has represented
										many prominent hi-tech and medical technology corporations in over $1B of M&amp;A
										processes, including: eBay, Oracle, Sun Microsystems, Medtronic, Microsemi, as
										well as advising Google, IBM, Boston Scientific and other prominent technology
										corporations on other legal matters. Arye led corporate development for a
										clean-tech company sold to GE in 2011. <br>
										Arye has an MBA from Stanford University, an LLM from University of London and
										a BA in law from University of Cambridge. Arye has published many legal
										articles in leading peer-reviewed law journals, and is admitted to practice law
										in Israel and England. Arye served with distinction in the Israeli Defense
										Forces infantry and continues to serve in the IDF reserves, and lives with his
										lovely wife and children in Jerusalem, Israel.
									</p>
								</article>
								<h1 class="faq_header">
									<a href="#">How we can use Merjerz to massively increase the value
of our M&amp;A activity.</a> 
								</h1>
								<article class="faq">
									<p class="double_box">
										<a href="#">Giving Voice to Passion: Guidelines on contributing content on Merjerz</a><br>
										<b>Follow us:</b>(FB, LinkedIn, Twitter @Merjerz)<br>
										<b>Contacts:</b><br>
										<b>Support:</b><a href="mailto:support@merjerz.com">support@merjerz.com</a><br>
										<b>Press Inquiries:</b><a href="mailto:support@merjerz.com">press@merjerz.com</a><br>
										<b>Advertising on Merjerz:</b><a href="mailto:ads@merjerz.com">press@merjerz.com</a><br>
										
									</p>
								</article>											
							</section>
							
	 </div><!-- main home-->