<div id="intro"></div>	<!--fix rails bug -->
<!-- ************************** HEADER***************************************************** -->
	<div id="inner_header" class="light_gray_back">
			<h1 id="top_header" class="footer_header">FAQ</h1>
	</div>				
	<div id="main_home">
						<!-- ******************************** BREAD CRUMBS **********************************************-->
						<div class="bread_crumbs"><a href="">Home</a> > <a href="">FAQ</a></div>	
							<div style="clear: both;">	</div>					
						<!-- **************************** WRITE BOX **************************************** -->	
							<section id="faq_div">
								<h1 class="faq_header">
									We&acute;re a smart corporate development group, we know how to do M&A. What makes you think M&A is so risky for us?
								</h1>
								<article class="faq">
									<p class="double_box">Research
										consistently shows that M&amp;A is usually value-destroying! As M&amp;A
										professionals we continually take steps to try to limit the damage, and make
										M&amp;A work: we get bankers and strategy consultants to opine; due-diligence drills
										leaves no stone unturned; we model the synergies in revenues and costs and
										sensitivity tables drive our risk assessment; we add layers of legal protection
										such as escrow holdbacks, liability carveouts, and earnouts; and we hire the
										best and the brightest for CorpDev and Strategy, because in the corporate tech
										world, that&acute;s where huge business opportunities are realized and mistakes are
										made. </p>
										
										<p class="double_box">There is a lot in our nature that prevents us from seeing
										bad deals for what they are. We are all victims of <a
										href="http://en.wikipedia.org/wiki/Confirmation_bias">Confirmation Bias</a>
										&#8211; we see what we want to see and dismiss contrary evidence. 3 months into
										a deal we considerably discount any evidence against the deal, and give undue
										weight to evidence confirming our hypothesis that the deal is a good idea. </p>
										
										<p class="double_box"MsoNormal>There is also <a
										href="http://en.wikipedia.org/wiki/Optimism_bias">Optimism Bias</a>, in its
										various forms, which leads us to believe that we can do the deal or lead
										integration better than average, better than last time, better than others. <a
										href="http://en.wikipedia.org/wiki/Attributional_bias">Attribution Bias</a>
										leads to us believe that others screw-up their deals, whereas our bad deals are
										the results of bad-luck. </p>
										
										<p class="double_box">In the meantime, time acts mostly against us. As a deal
										drags on &#8211; because we&acute;re doing due-diligence, modeling, drafting etc
										&#8211; the target often losses interest since they realize they could have
										gotten a better deal elsewhere. Conversely, targets are terrified because often
										the distraction is considerably damaging to their ongoing business, and if the
										acquisition doesn&acute;t materialize they will have a long difficult road to
										recovery ahead. As we&acute;re more committed in time and resources, we&acute;re less
										likely to see the deal in realistic hues. </p>
										
										<p class="double_box">Merjerz helps you see the deal for what it is, from the day
										you first think of it you&acute;ll see the company for what it is, warts and all, and
										make an informed, balanced decision with eyes wide open. </p>
								</article>
								<h1 class="faq_header">
									Why do people contribute information on Merjerz?
								</h1>
								<article class="faq">
									<p class="double_box">
									Because they can have an <b>impact</b>. We all have many avenues to share our
									opinions, speak our mind, and give a voice to our passions. Web 2.0 has enabled
									each of us to share our opinions widely, but not to make our views visible and
									impactful to the relevant decision makers. A blog or a tweet has wide
									dissemination, and we may generate consensus, but since our audience is
									generally not focused on our subject (eg tech M&amp;A) our opinions are not particularly
									impactful. By contrast, a meeting with a potential acquirer can help us get our
									message across very clearly, but our opinion will be discounted because it is
									self-serving and stands alone. Merjerz enables us to voice our opinions to the
									people who need to hear it, such as potential acquirers, and simultaneously to
									generate consensus and support for our views. In this way our best ideas and
									insights are delivered to the recipients with <b>support</b>, <b>credibility</b>
									and <b>impact</b>.
									</p> 
								</article>
								<h1 class="faq_header">Are you serious?? M&amp;A online?</h1>
								<article class="faq">									
									<p class="double_box">
										Think of Merjerz as
										online-dating for corporations. You wouldn&acute;t click to marry a spouse &#8211;
										that requires a relationship of trust and intimacy. Same goes for corporate
										M&amp;A - you won&acute;t click to acquire or be acquired, but we can help you get in
										the room with the right people. Merjerz cuts through the noise, the months-long
										vetting processes, the false-starts and time-wasters, and pairs acquirers and
										targets that know and need each other. 
									</p>	 
								</article>	
								<h1 class="faq_header">How can I believe the information I&acute;m seeing on Merjerz?</h1>	
								<article class="faq">
									<p class="double_box">
										Some contributors have better insight than others, and we provide many
										tools to help you determine the quality of content on Merjerz. Firstly, users
										can rate other contributors&acute; content, and add to it. Verified 'real name' users
										are obviously putting their reputations behind their comments. The volume,
										specificity and quality of comments will determine how valuable they are.
										Remember, no corporation has control of the comments and insights others make
										about it on Merjerz. The founder&acute;s grandmother can write a rave review, but a
										disgruntled customer, disillusioned investor, or industry skeptic can equally
										voice their opinion. Again, as more opinions are floated, you get a better
										insight on the company and any proposed deals. Sure, there will be some noise,
										but the quality comments quickly break out of the pack and gain the most
										visibility.
									</p>	 
								</article>
								<h1 class="faq_header">Who needs Merjerz?</h1>
								<article class="faq">
									<p class="double_box">
										Any professional or organization
										that is involved in M&amp;A for hi-tech corporations. CorpDev departments in
										tech companies use Merjerz to cut through tiresome, and often fruitless, sourcing.
										Instead of the frustration of looking for a target like a needle in a haystack,
										they use Merjerz to get the right information. Business Units and CorpDev
										groups can also use Merjerz to promote the creation of various startups that
										will meet their needs. M&amp;A advisors use Merjerz to find the best deals for
										their clients, and cut through the sourcing process, greatly increasing their
										deal flow and prospects of actually proposing a viable value-accretive deal
										that the client needs and wants.
									</p>	 
								</article>
								<h1 class="faq_header">I&acute;m an M&amp;A advisor (banker, lawyer, accountant,
consultant) &#8211; what does Merjerz do for me?</h1>
								<article class="faq">
									<p class="double_box">
										M&amp;A
										advisors all want deals to close, and we all want deals to succeed. Merjerz
										helps cut the Intro-to-Closing timeline drastically, and improve the proportion
										of deals that close. Many advisors are paid based on deals closing, and closing
										successfully, and the surest way to generate repeat business is to have a
										record of success. Merjerz supports everything you do and helps you do it
										better, making your client and you more successful. And by taking so much of
										the friction out of the process, Merjerz puts your role back in the spotlight,
										making your role in the deal&acute;s success visible, central and obvious. 
									</p>	 
								</article>	
								<h1 class="faq_header">What does Merjerz do for my Startup?</h1>
								<article class="faq">
									<p class="double_box">
										Merjerz democratizes
										the M&amp;A process, helping you find the best possible exit. We all know that
										startups are working toward an exit &#8211; even if we don&acute;t say it outright,
										our investors and employees all know it. Startup executives frequently give up
										enormous value by going for the first significant deal that comes their way.
										After spending tremendous energy on getting through the door at some big
										acquirer, they go into a no-shop, don&acute;t know what alternatives they have, and
										generally have little or no visibility on the value they add to the acquirer.
										This puts them at a huge disadvantage when selling their company: they expend
										significant resources (especially time) chasing what they think is the best
										acquirer, they don&acute;t know their true value to the acquirer, and they never
										discover if there are other potential acquirers. In the meantime, these
										negotiations often lead nowhere, and the distraction has been expensive and
										costly to the startup.<br>
										Merjerz opens the door to give startups the visibility they need on their value
										to prospective buyers, and the identities of the best possible buyers. No less
										importantly, Merjerz raises corporations&acute; visibility to potential acquirers.
										Let&acute;s restate that: Merjerz gets you to an exit &#8211; quicker and better.
									</p>	 
								</article>
								<h1 class="faq_header">But I don&acute;t want the market to see that I&acute;m 'for
sale'</h1>
								<article class="faq">
									<p class="double_box">
										Being featured in a Merjerz deal doesn&acute;t mean you&acute;re &acute;for sale&acute;,
										it just means that someone out there ought to buy your company. Only you decide
										if you want to sell. You don&acute;t have to sell, you don&acute;t have to negotiate, you
										don&acute;t even need to think about it. Being featured in a Merjerz deal doesn&acute;t
										mean you&acute;re for sale; it just means an acquirer should want you. An acquirer
										might just make an offer you shouldn&acute;t refuse. If being featured in a Merjerz
										deal means you get a great offer for your company, you&acute;ll decide if you take it
										or not. 
									</p>	 
								</article>
								<h1 class="faq_header">How does Merjerz make money?</h1>
								<article class="faq">
									<p class="double_box">
										For now we&acute;re not
										charging anyone to use Merjerz. Were focused on delivering compelling value to
										our customers and to the hi-tech community. As we grow our value-proposition
										and continually demonstrate the value-add that Merjerz brings to the hi-tech
										M&amp;A ecosystem, we&acute;ll charge acquirers modestly for the tremendous value we
										deliver.
									</p>	 
								</article>								
							</section>
	</div><!-- main home-->