<div id="intro"></div>	<!--fix rails bug -->
<!-- ************************** HEADER ***************************************************** -->
	<div id="inner_header" class="light_gray_back">
			<h1 id="top_header">How it works</h1>
	</div>				
	<div id="main_home" class="works_nav">
		<!-- ******************************** BREAD CRUMBS **********************************************-->
		<div class="bread_crumbs"><a href="">Home</a> > <a href="">How it works</a></div>	
		<div style="clear: both;">	</div>					
		<!-- **************************** WRITE BOX **************************************** -->	
				<section id="work_div">
						<article class="faq">
							<h1>How it works</h1>
							<p class="double_box">
								Merjerz improves hi-tech M&A by helping the acquirers and targets find each other. It’s rather like online dating, for corporations. 
							</p>
							<p class="double_box">
								Merjerz users propose M&A deals, and they and other users add their insight (‘Deal Insight’) to this deal. As a result, the best, most current and relevant information regarding a prospective deal will be available to the hi-tech professionals. Potential acquirers and targets are then informed by these data, and are able to make optimal choices and decisions. 
							</p>
							<p class="double_box">
								On Merjerz corporations can also be reviewed (‘Corporation Reviews’). This is where the pros and cons, advantages and disadvantages of any hi-tech corporation can be discussed. This includes their quality as an acquirer and their prospects as a business. Acquirers, targets, investors and the entire hi-tech community can use these Corporation Reviews for current, professional perspective on the hi-tech corporations. 
							</p>	
					</article>			
				</section>
				<div id="write_padding"></div><!--fix rails bug -->
	  </div><!-- main home-->