<div id="intro"></div>	<!--fix rails bug -->
<!-- ******************************** HEADER **********************************************-->
<div id="inner_header" class="light_gray_back">
		<h1 id="top_header" class="footer_header">Merjerz M&A learning center</h1>
</div>				
		<div id="main_home">
		<!-- ******************************** BREAD CRUMBS **********************************************-->
			<div class="bread_crumbs bc_padding"><a href="">Home</a> > <a href="">Merjerz M&A learning center</a></div>	
			<div style="clear: both;">	</div>					
		<!-- **************************** WRITE BOX **************************************** -->	
			 <section id="faq_div">
					<article class="faq">
								<p class="double_box">
									There is a deluge of information on M&A, with particular emphasis on financing, modeling and so forth. Only a small fraction of it is worth reading. Without endorsing - and without taking responsibility for the financial, psychological, physical and other damage you may endure from reading and following - these publications, we&acute;ve put together a short list of some of the M&A materials we consider helpful.
								</p>
								<p class="double_box">
									Over time, we&acute;ll be expanding this page to include materials that can help M&A sellers and buyers be optimally prepared for everything from LOI negotiation to post-deal integration. 
								</p>	
								</article>	
								<h1 class="faq_header">
									M&A Publications worth Reading
								</h1>
								<article class="faq">
									<p class="double_box">
										Here&acutes our favorite book on M&A: 
									</p>
									<p class="double_box"><img src="assets/l1.png"><p>
									<p class="double_box"><img src="assets/l2.png"></p>
									<p class="double_box">
									E&Y&acute;s global technology update for 3Q2011 is 
									<a href="http://www.ey.com/Publication/vwLUAssets/Global_technology_M_and_A_update_-_July-September_2011/$FILE/3Q11_Global_tech_M&A_update_3Nov11.pdf">here</a>	
									Well worth the read to stay in touch with Tech M&A trends. E&Y also have a helpful &acute;preparation for sale&acute; booklet<a href="http://www.ey.com/Publication/vwLUAssets/MA_Best_Practice_Series_V1/$FILE/M&A_Bestpractice_volume1_PDF_FV.pdf"> here</a>
								</p><br><br>	
								<p class="double_box"><img src="assets/l3.png"></p>
								<p class="double_box">In particular,<a href="http://www.bcg.com/documents/file15069.pdf">this </a> report on Creating Value through M&A, and <a href="http://www.bcg.com/documents/file30555.pdf"> this</a> report on Seizing M&A Opportunities while they last are worth reading. 
								</p><br><br>
								<p class="double_box"><img src="assets/l4.png"></p>	
								<p class="double_box">Click<a href="http://www.bain.com/consulting-services/mergers-and-acquisitions/index.aspx">here</a>to access Bain&acute;s publications on M&A Strategy, Due Diligence and Integration.</p> 
								<br><br>
									<p class="double_box"><img src="assets/l5.png"></p>	
									<p class="double_box">
										McKinsey Quarterly has a number of interesting pieces on M&A. Browse their <a href="http://www.mckinseyquarterly.com/home.aspx">database</a>to find the ones that interest you, here are some that we thought interesting. <a href="http://www.mckinseyquarterly.com/Why_mergers_fail_1113">This</a> article on Revenue synergies in M&A is a good read.<a href="http://www.mckinseyquarterly.com/Where_mergers_go_wrong_1402">This </a> article on overestimation of synergies is also worth reading. Finally,<a href="http://www.mckinseyquarterly.com/Organization/Postmerger/A_lighter_touch_for_postmerger_integration_2504">this </a>rather contrarian article on post-merger integration is thought-provoking.  
									</p><br><br>
									<p class="double_box"><img src="assets/l6.png"></p>
									<p  class="double_box">Skadden Arps has a number of short M&A
									<a href="http://www.skadden.com/Index.cfm?contentID=232&practiceID=5">publications</a>	
										worth reading. Most relate to narrow, though important areas of law  –  worth reviewing if they&acute;re relevant to you. See <a href="http://www.skadden.com/Index.cfm?contentID=51&itemID=2453">here</a>for a general overview of latest trends (legal and commercial) in global M&A.  
									</p><br><br>
									<p class="double_box"><img src="assets/l7.png"></p>
									<p  class="double_box">Click <a href="http://www.wsgr.com/WSGR/DBIndex.aspx?SectionName=publications">here </a>to access WSGR&acute;s publications on M&A. These tend to be narrow in scope, each treating specific legal precedent. <a href="http://www.wsgr.com/publications/PDFSearch/sher_fall11.pdf">This</a> article on anti-trust risk-shifting in M&A is pretty comprehensive. </p>
									<p class="double_box"><img src="assets/l8.png"></p>
										<p  class="double_box">Finally, the American Bar Association has some very useful slide decks, called &acute;Deal Point Studies&acute;<a href="http://apps.americanbar.org/dch/committee.cfm?com=CL560003">here. </a>
											You will need an ABA member to get you access to this page, perhaps your US lawyer can help. The slides there can be very helpful in helping you calibrate deal-term expectations in line with what is normal and acceptable. 
											</p>
								</article>
														
							</section>					
		</div><!-- main home-->