<div id="intro"></div>	<!--fix rails bug -->
<!-- ************************** HEADER ***************************************************** -->
	<div id="inner_header" class="light_gray_back">
			<h1 id="top_header">Write</h1>
	</div>				
	<div id="main_home" class="write_nav">
		<!-- ******************************** BREAD CRUMBS **********************************************-->
		<div class="bread_crumbs"><a href="">Home</a> > <a href="">Wrire</a></div>	
		<div style="clear: both;">	</div>					
		<!-- **************************** WRITE BOX **************************************** -->	
				<section id="write_div">
					<h1>Get Started..</h1>
					<p class="box_display">Write a review about Corporation or add a Deal Insight</p>
					<div class="icon_write"><a href="#"><%=deal_img%><a href="#">Add a Deal</a></div>
					<div class="icon_write"><a href="#"><%=corporation_img%></a><a href="#">Write a Corporation Review</a></div>		
				</section>
				<div id="write_padding"></div><!--fix rails bug -->
	  </div><!-- main home-->