<td>
	<div class="deals">
		<div class="comp corp_up">Corporation A</div>
		<div class="comp corp_down">Corporation B </div>													
	</div>
	<div class="deal_header">company A should buy company B</div>
	<div class="ratings_deals"></div><div class="insights">Insights(12)</div>
</td>