<div id="intro"></div>	<!--fix rails bug -->
<!-- ************************** Header ***************************************************** -->
	<div id="inner_header" class="light_gray_back">
		<h1 id="top_header">New Deal Insight</h1>
	</div>							
	<div id="main_home" class="deal_nav"">
	<!-- ******************************** BREAD CRUMBS **********************************************-->
	<div class="bread_crumbs bc_padding"><a href="">Home</a> > <a href="">Deals</a> > New Deal Insigh</div>
	<!-- ******************************************************************************* -->	

	<!-- ************************************** EXPLANATION ABOUT FORM FILLING ************************************* -->
	<section id="newpage_wrapper">
	<div class="level2_body"><div class="level2_header deals_fillter">Add New Deal Insight</div></div>
			<section id="add_new" class="bottom_padding">
					<%=render :partial=>'form'%> <!--form fields  -->
			<aside class="new_page"> 
							<a class="dialog_but" href="#">Which content is important in a Deal Insight? </a>
							<div class="dialog_content">Deal Insights are critical to making a deal actionable. Consider the aspects of a prospective deal that you can intelligently comment on: synergies (of costs and/or revenues); enhancement (of the team, brand); culture (match or mismatch?); and expansion (of product or geography).</div>
							<a class="dialog_but" href="#">How to write an effective Deal Insight:</a>
							<div class="dialog_content">
								<p class="double_box">
									An effective Deal Insight is specific, clear, and supported by facts. To be <b>specific</b>, give details of what you’re describing, don’t leave it at generalities. Instead of “their products mesh nicely”, write “Target’s flagship product fills the Small-Medium-Business market gap in Acquirer’s enterprise suite.” Explain: how can these two corporations realize synergies? Which products of the target fill a gap for the acquirer? Where are the cross-selling opportunities? How are the cultures matched and in what do they diverge? Which geographies does the target add to the acquirer? To be <b>clear</b>, say exactly what you mean, don’t just hint. Instead of “their cultures are too far apart” try “Acquirer’s culture is empowering and innovative, they reward effort more than results; Target is hierarchical, distant and absolutely results oriented. If you try and fail there, you’re out.” Finally, support your insight with <b>facts.</b> If you write “they’re losing their innovative edge” support it with facts, such as: “they’ve filed less patents in the last three years than in any year beforehand; R&D spending is down year-on-year since 2006, and in September 2011 they lost their Chief Scientific Officer to their main competitor, Corptech Inc., and the R&D group is completely lost without her.” Refer to our guidelines below on confidentiality and privacy issues, and whistle-blowing.	 
									Deal Insights that are specific, clear and based on facts will have the greatest impact.
								</p>
							</div>
							<a class="dialog_but" href="#">How long should a Deal Insight be?</a>
							<div class="dialog_content">Like a good skirt - short enough to be interesting, long enough to cover the essentials. Seriously, get your point across succinctly, but don’t be so brief that no one can understand your message. If you have many useful points to make, by all means make them all. On the other hand, if you make your point there’s no need to repeat it. </div>
							<a class="dialog_but" href="#">Language</a>
							<div class="dialog_content">Merjerz is English-language only. That is the global hi-tech language and we’re keeping it that way</div>
							<a class="dialog_but" href="#">Confidentiality & Privacy</a>
							<div class="dialog_content">Don’t breach it. Even if you’re writing anonymously, posting a corporation or person’s confidential or private information could be a crime and a tort. In other words, it is wrong and you could get into lots of trouble. You could do damage to people and corporations and may be sued for that. What’s more, the value of an M&A deal hardly ever depends on confidential information. In other words: revealing confidential information is not going to materially change the prospect of a deal. If you think you have some astonishing whistleblowing information, take it to the legal authorities. Otherwise, keep your contribution within the realms of relevant, non-confidential business and technology insights and opinion.</div>
							<a class="dialog_but" href="#">Comments about people</a>
							<div class="dialog_content">There’s generally no need to comment about individuals. Corporations worth commenting about are always bigger than one person. Comments about the quality of management, the culture, the norms and processes, the faith management have in the team, the HR policies and mindset are all fair game. They’re all relevant to other businesses, and don’t depend on one person. Same goes for culture, performance, service, innovation, technology, growth, prospects etc. There’s no need to single out people, even if you don’t name them. Doing so may entail defamation, for which you may be sued, and can be very harmful even to other people. If you know of someone who has broken the law, tell the authorities. </div>
							<a class="dialog_but" href="#">Anonymous or Real name?</a>
							<div class="dialog_content">Using your real name will greatly increase the credibility of your insights and comments. In general, you should be writing under your real name. However, sometimes you really can’t use your name. You may be conflicted between people you like and companies you dislike, or in some other way. If you can’t post under your true name, post anonymously, but remember that readers will then give your comments less weight. </div>
			</aside>			
			<div style="clear: both;">	</div>
	</section><!-- newpage wrapper -->						
</div><!-- main home-->
						