<footer class="footer_margin">
		<ul>
			<li class="footer_item"><a href="about.html">About</a></li>
			<li>|</li>
			<li class="footer_item"><a href="contact.html">Contact</a></li>
			<li>|</li>
			<li class="footer_item"><a href="faq.html">FAQ</a></li>
			<li>|</li>
			<li class="footer_item"><a href="learning_center.html">Learning Center</a></li>
			<li>|</li>
			<li class="footer_item"><a href="#">Terms of Service</a></li>
		</ul>
		<div id="rights">All rights reserved MERJERZ &copy 2011</div>	
</footer>										